

.str-hero.jumbotron{

  text-align: center;

  background-color: inherit;

  h1 {
    font-weight: bold;
    font-size: 4rem;
  }

  p.lead {
    font-size: 1.2rem;
    padding: 0.8rem 4rem;
    line-height: 1.75;

  }

}

.str-card-container {

  font-size: 0.8rem;
  margin: 0 4rem;

}

.str-card{

  margin-bottom: 2em;

  .icon-container{
    height: 6em;
    margin-bottom: 1.4em;

  }

  .display-4 {
    font-size: 2.2em;
    font-weight: bold;
  }

  .heading-number{
    color: $mid-grey-yellow;
  }
}

.bg-blue {
  background-color: $bright-blue;
  color: $white;

  h1 {
    color: $white;
  }
}

.str-main {

  margin: 0 4rem;
  padding: 6rem 0;
  font-size: 0.9rem;

  .section-intro {
    padding: 0 4em;
    margin: 2em 0 4em;
  }





}

.str-pic-hero.jumbotron {

  padding: 2rem;
  color: $very-light-grey;
  background-color: inherit;
  font-size: .8rem;

  h2 {
    color: inherit;
    margin-bottom: 1.2rem;
  }

  p {
    width: 26em;
    margin-bottom: 3em;
  }

  a.btn-lg {
    font-size: .8em;
    text-transform: uppercase;
    padding: .8rem 1.8rem;
    @include border-radius(.2rem);
  }

  &.discovery {
    background-image: url("../img/mask.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  h6 {
    font-size: .8rem;
    text-transform: uppercase;
    color: $white;
    opacity: .6;
  }

  &.up-next {
    background-image: url("../img/mask.png");
    background-repeat: no-repeat;
    background-size: cover;

    padding: 5rem 0;

  }
}

.str-hex-tile {

  /*
  background-color: red;

  &.odd {
    background-color: blue;
  }
  */

}

#hexLayout1{
  //width: 100%;
}

.str-hex-tile-container{
  margin: 2em;



  .str-hex-tile {

    padding: 5px;
    display: table;

    p {

      display: table-cell;
      width: 100%;
      height: 100%;
      background-image: url("../img/polygon.svg");
      background-size: contain;
      background-repeat: no-repeat;
      color: $black;
      font-size: .8rem;
      line-height: 1rem;

      span {
        width: 100%;
        display: inline-block;

        &.em-line {
          width: 2em;
          height: 2px;
          background-color:  $corn-yellow;
        }
      }

    }

  }

}


.str-feature-box{

  background-color: #ffffff;



  img.str-feature-image{
    width: 100%;
    height: auto;
  }

  .str-feature-text {
    padding: 1rem 1.8rem;
    width: 100%;
    color: $dark-gray;

    h3.display-3 {
      font-size: 1.6rem;
      font-family: Apercu;
      font-weight: bold;
    }

    h6 {
      font-size: .6rem;
      text-transform: capitalize;
      color: $mid-grey-yellow
    }

    p {
      font-size: .6rem;
      font-weight: 500;
      line-height: 1.71;
    }

  }

  a.btn {
    width: 100%;
    margin-bottom: .5rem;
  }

}

.str-button.btn {
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: .8rem;
  @include border-radius(3px);
  color: $white;
  padding-top: 1em;
  padding-bottom: 1em;


  &.btn-outline-secondary {
    color: $dark-gray;
    border-color: $light-gray;

    &:hover {
      color: $white;
    }

    &.lighter {
      color: $mid-grey-yellow;
    }
  }

  &.yellow {
    background-color: $corn-yellow;
    color: $very-dark-gray;
    border-color: $corn-yellow;
    width: 12rem;
    font-weight: bold;


  }

}