.gradient-mask {
  background-image: linear-gradient(to right, rgba(17, 22, 40, 0.8), rgba(28, 36, 66, 0));
  position: absolute;
  top: 0;
  left:0;
  height: 100%;
  width: 100%;
}

.str-hero.jumbotron{

  text-align: center;
  background-color: inherit;
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: 0;
  padding: 4rem 2rem 2rem;

  h1 {
    font-weight: bold;
    font-size: 5rem;
    color: $white;
    margin-bottom: 1.4rem;
  }

  p.lead {
    font-size: 1.2rem;
    line-height: 1.67;
    color: $mid-grey-blue;
    max-width: 40rem;
    margin: 0 auto 5rem
  }

}

.str-card-container {
  font-size: 0.8rem;

}

.str-card{

  padding: 2em;
  border: 1px solid $light-gray;
  margin-left: -1px;
  margin-top: -1px;

  .icon-container{
    height: 8em;
    margin-bottom: 1.4em;

    img {
      height: 100%;
    }

  }


  .heading-number{
    //color: $mid-grey-yellow;
  }

  p {
    padding: 1rem 1.5rem;
  }
}

.str-main {

  .heading {
    padding: 4rem 1rem 4rem 6rem;
  }

  .content-center {
    padding: 6rem 0;
  }

  p {
    padding: 5rem 6rem 5rem 0;

    &.cons {
      padding: 5rem 6rem 5rem 6rem;
    }
  }


}

section {

  background-repeat: no-repeat;
  background-size: cover;

  &.discovery {
    background-image: linear-gradient(to right, rgba(17, 22, 40, 0.8), rgba(28, 36, 66, 0)), url("../img/discovery.jpg");
  }

  &.mapping {
    background-image: linear-gradient(to right, rgba(17, 22, 40, 0.8), rgba(28, 36, 66, 0)), url("../img/mapping.jpg");
  }

  &.pathfinder {
    background-image: linear-gradient(to right, rgba(17, 22, 40, 0.8), rgba(28, 36, 66, 0)), url("../img/pathfinder.jpg");
  }

  &.compass {
    background-image: linear-gradient(to right, rgba(17, 22, 40, 0.8), rgba(28, 36, 66, 0)), url("../img/compass.jpg");
  }

  &.up-next {
    background-image: url("../img/next-holder.jpg");
  }

}

.str-pic-hero {

  .heading {
    padding: 4rem 1rem 4rem 6rem;
  }

  &.center-div {
    padding: 5rem 0;

    h5 {
      opacity: .4;
    }

  }

  background-color: inherit;
  font-size: .8rem;
  color: $white;

  h2 {
    color: inherit;
    margin-bottom: 1.2rem;
  }

  p {
    line-height: 1.78;
    font-size: .9rem;
    width: 23em;

    margin-bottom: 3rem;
  }

  a.overlay-link {
    font-size: .9em;
    text-transform: uppercase;
    padding-bottom: .4rem;

    &:hover{
      color: $white;
      border-bottom: 2px solid $corn-yellow;
    }

  }



  h6 {
    font-size: .8rem;
    text-transform: uppercase;
    color: $white;
    opacity: .6;
  }

  &.up-next {
    //background-image: url("../img/mask.png");
    background-repeat: no-repeat;
    background-size: cover;

    padding: 5rem 0;

  }
}

.str-hex-tile-container {
  visibility: hidden;

  /*
  background-color: red;

  &.odd {
    background-color: blue;
  }
  */

}

#hexLayout1{
  //width: 100%;
}

.str-hex-tile-container{
  margin: 2em auto;
  max-width: 895px;



  .str-hex-tile {

    padding: 5px;
    display: table;
    cursor: pointer;

    div.hex-inner {

      display: table-cell;
      width: 100%;
      height: 100%;
      background-image: url("../img/polygon.svg");
      background-size: contain;
      background-repeat: no-repeat;
      font-size: .8rem;
      line-height: 1rem;

      span, a {
        width: 100%;
        display: inline-block;

        &.em-line {
          width: 2em;
          height: 2px;
          background-color:  $corn-yellow;
        }
      }

    }

  }

}


.str-feature-box{

  padding: 0;

  img.str-feature-image{
    width: 100%;
    height: auto;
  }

  .str-feature-text {
    padding: 2rem 3rem;
    width: 100%;
    color: $dark-gray;
    position: relative;

    h6 {
      margin-top: .35rem;
    }

    p.summary {
      color: $mid-grey-yellow;
      min-height: 6.4rem;
      margin-bottom: 1.78rem;
    }

    a.btn {
      width: 13rem;
      margin-bottom: .5rem;
    }

  }



}

.circles {

  display: inline-block;
  margin: 0 .5rem;

  .circle {

    display: inline-block;
    @include border-radius(1.5rem);
    height: 3rem;
    line-height: 3rem;
    width: 3rem;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    vertical-align: top;
    position: relative;
    float: left;
    margin-left: -1.5rem;

    &.tony {
      background-image: url("../img/tony-oval.png");
      margin-left: 0;
    }

    &.martin {
      background-image: url("../img/martin-oval.png");
    }

    &.neil {
      background-image: url("../img/neil-oval.png");
    }

    &.blue{
      &:hover{
        color: $corn-yellow;
      }
    }
  }

}

.consult-link-text-container {
  height: 3.2rem;
  line-height: 3.2rem;
  margin: 0 .5rem;
  a {
    float: left;
  }
}




.str{
  .btn-lg {
    font-family: "Work Sans", sans-serif;
    font-size: .9em;
    text-transform: uppercase;
    padding: .8rem 1.8rem;
    @include border-radius(.2rem);
  }

  .btn-secondary {
    margin-top: .4rem;
    background-color: $corn-yellow;
    color: $very-dark-gray;
    border-color: $corn-yellow;
    font-weight: 500;
    width: 13.8rem;
  }

  .v-align {

    position: relative;
    top: 50%;
    transform: translateY(-50%);

  }

  .v-spacer {
    height: 1rem;
  }
}


.str-button.btn {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: .9rem;
  @include border-radius(3px);
  color: $white;
  padding: 1rem 3.2rem;
  line-height: 1;



  &.btn-outline-secondary {
    color: $dark-gray;
    border-color: $light-gray;

    &:hover {
      color: $white;
    }

    &.lighter {
      color: $mid-grey-yellow;
    }
  }

  &.yellow {
    background-color: $corn-yellow;
    color: $very-dark-gray;
    border-color: $corn-yellow;
    width: 12rem;
    font-weight: bold;


  }

}