

.str-equity-step-container {

  margin: 0 auto;
  padding: 1rem 0 4rem;

  .str-equity-step {

    margin-top: 3rem;

    .icon-container {

      float: left;
      display: inline-block;
      width: 6.4rem;
      height: 6.4rem;

      img {
        width: 100%;
      }
    }

    .text-container {
      margin-left: 9.9rem;
      display: block;
      width: auto;

      p {
        margin-top: 1rem;

        a {
          color: $bright-blue;
          font-weight: 400;
        }
      }

    }


  }

}