html {
  font-size: 14px;

  @media screen and (min-width: 900px) {
    font-size: 16px;
  }

  @media screen and (min-width: 1260px) {
    font-size: 20px;

  }
}

body {
  font-family: 'Work Sans', sans-serif;
  background-color: $light-cream;
  color: $mid-grey-yellow;
}

a {
  color: inherit;

  &:hover {
    text-decoration: none;
    color: $bright-blue;
  }

}

h1, h2, h3, h4 {
  color: $dark-blue;
  font-family: Apercu, "Work Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
}

h2 {
  font-size: 3.6rem;
}


.display-1 {
  font-size: 5rem;
  line-height: 1;
}

.display-2 {
  font-size: 3.2rem;
  line-height: 1;
}

.display-3 {
  font-size: 1.8rem;
  margin-bottom: 0;
}

.display-4 {
  font-size: 1.8rem;
  margin-bottom: 0;
}

p {
  font-size: .9rem;
  line-height: 1.78;
}

img{
  //height: 100%;
}

header,
section,
footer {
  margin: 0;
  padding: 1px; /* tweaked from 0 to 1px */

  & > div {
    margin: -1px;
  }
}

$bg-color-list: (blue: $dark-blue, yellow: $corn-yellow,
        light-cream: $light-cream,
        mid-cream: $mid-cream, bright-blue: $bright-blue
);

// @each($key, $value)
@each $key, $value in $bg-color-list {
  .bg-#{$key} {
    background-color: $value;
  }
}

$txt-color-list: (dark-blue: $dark-blue, white: $white, bright-blue: $bright-blue, mid-blue: $mid-blue);

@each $key, $value in $txt-color-list {
  .clr-#{$key} {
    color: $value;
  }
}

$blur-amount: 50px;

.blur-image {
  filter: blur($blur-amount);
  // Browser Specific
  -webkit-filter: blur($blur-amount);
  -moz-filter: blur($blur-amount);
  -o-filter: blur($blur-amount);
  -ms-filter: blur($blur-amount);

}

.h-align {
  margin-left: 50%;
  transform: translateX(-50%);
}

.no-padding {
  padding: 0;
}

.str {
  .container-fluid {
    max-width: 1440px;
  }
}