
.noscroll { overflow: hidden; }

@media (min-device-width: 1025px) {
  .noscroll {
    padding-right: 15px;
  }
}

.overlay {
  position: fixed;
  overflow-y: scroll;
  top: 0; left: 0; right: 0; bottom: 0;



}

[aria-hidden="true"] {
  width: 100vw;
  z-index: -1;
  opacity: 0;  }

[aria-hidden="false"] {
  //transition: opacity 1s;
  width: 100%;
  z-index: 1;
  opacity: 1;
}

.overlay div {
  height: 100%;
/*  margin: 15vh auto;
  width: 80%;
  max-width: 650px;
  padding: 30px;
  min-height: 200vh;*/
  //background: rgba(255,255,255, .95);
}
.overlay {
  background:  rgba(40,40,40, .75);

  .inner-overlay{
    overflow: hidden;
  }
  .overlay-image-container {
    overflow: hidden;
  }
  .overlay-column {
    //height: 100%;
  }

  .overlay-content {
    height: 100%;
    background-color: rgba(255,255,255, .95);

    .close-button-container {
      height: 64px;


      .close-button{
        display: inline-block;
        width: 64px;
        height: 64px;
        @include border-radius(32px);
        margin: 1rem;

        .cross{
          display: inline-block;
          margin: 20px;
          background-image: url("../img/yellow-cross.svg");
          width: 24px;
          height: 24px;
        }

      }
    }

    .overlay-main {
      padding: 2rem 3rem;

      h6 {
        font-size: .9rem;
      }


      h2 {
        margin-bottom: 2rem;
      }
      p {
        font-size: .8rem;

      }
    }



  }

  .overlay-footer {

    padding: 1.4rem 3rem;
    border-top: 1px solid $light-gray;

    &:nth-child(3) {
      border-top: none;
    }

    h6 {
      font-size: .6rem;
    }

    h3 {
      border-bottom: 4px solid $corn-yellow;
      display: inline-block;
      padding-bottom: .6rem;
    }

  }

}



/*
.overlay {
  position: absolute; !* Sit on top of the page content *!
  display: none; !* Hidden by default *!
  width: 100%; !* Full width (cover the whole page) *!
  height: 100%; !* Full height (cover the whole page) *!
  left: 0;
  right: 0;
!*  top: 0;

  bottom: 0;*!
  background-color: red; //rgba(0,0,0,0.5); !* Black background with opacity *!
  z-index: 10; !* Specify a stack order in case you're using a different order for other elements *!
  cursor: pointer; !* Add a pointer on hover *!

}*/
