.wide-picture-grid {

  .str-grid-pic {

    padding: 0;
    color: $white;
    height: 470px;



    &.col-lg-12.text-tile {

      height: auto!important;
      padding: 2em 3em;
      @include media-breakpoint-down(sm){
        padding: 2em;
      }

      .about-us-image-tile{


        p {
          font-size: 1rem;
          line-height: 1.72;
          max-width: 40rem;

          margin: 0 auto 1.4rem;
        }
      }



    }

    .about-us-image-tile, .success-image-tile {

      overflow: hidden;
      position: relative;

      &.text-tile {
        padding: 3.5rem;

        .btn-secondary:hover{
          background-color: $white;
          color: $dark-blue;
        }

      }

      h4.display-4 {
        color: $white;
        font-size: 2.4rem;

        @include media-breakpoint-down(sm){
          font-size: 3.2rem;
        }

        margin: 1rem;
      }

      h6.title {
        color: $white;
        font-size: .7rem;
        line-height: 1.2;
        opacity: .8;
      }

      p {
        font-size: .9rem;
        line-height: 1.72;
        max-width: 30rem;
        margin: 0 auto 1.4rem;
      }


      img {
        height: 100%;

        &.gradient {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
        }

        &.overlay {
          visibility: hidden;
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2;
        }
      }

      .name-caption-container {
        position: absolute;
        bottom: 0;
        z-index: 3;
        width: 100%;
        margin-bottom: 1rem;
        //transition: all .4s ease-in-out;
        //transform: translateY(0%);

      }

      .photo-caption {
        position: absolute;
        z-index: 3;
        bottom: -2rem;
        padding: 0 3.75rem 2.51rem 3.75rem;


        h5.display-5 {
          margin-top: 1rem;
          text-transform: uppercase;
          font-size: .8rem;
          visibility: hidden;
          opacity: 0;
        }


        @include media-breakpoint-down(xs){
          padding: 2rem;
          bottom: 0;

          h3.display-3 {
            font-size: 2.2rem;
          }

          h5.display-5 {
            font-size: 1rem;
            visibility: visible;
            opacity: 1;
          }
        }

      }

      &.over {
        opacity: .5;

        .name-caption-container {
          bottom: 50%;
        }
      }

      .buttons {

        font-size: 1rem;

        @include media-breakpoint-down(sm){
          font-size: 1.4rem;
        }

        &.upper {
          visibility: hidden;
          opacity: 0;
        }

        a:hover {
          color: $white;
        }

        &.lower {

          position: relative;
          text-align: center;
          width: 100%;
          height: 1rem;

          > h6, div {
            position: absolute;
            top: 0;
            display: inline-block;
            left: 50%;
            transform: translateX(-50%);
          }

          .btn {
            visibility: hidden;
            opacity: 0;
          }

        }

        .button {
          display: inline-block;
          cursor: pointer;
          border-radius: 2em;
          background-color: rgba($dark-cream, .5);
          margin: 0 1em;
          padding: 1em;
          font-size: .8em;
          line-height: .8em;
          img {
            height: .8em;
            width: .8em;
          }
          &:hover {
            background-color: rgba($dark-cream, .9);
          }
        }

        .btn-outline-light {
          // margin-top: .5rem;
          border-color: $dark-cream;

          @include media-breakpoint-down(sm){
            font-size: 1.4rem;
            padding: 1rem 4rem;
            margin-top: .8rem;
          }

          &:hover {
            border-color: $white;
            opacity: .7;
          }
        }
      }

      /*
            &.over {

      !*        > img {
                $blur-amount: 50px;
                filter: blur($blur-amount);
                // Browser Specific
                -webkit-filter: blur($blur-amount);
                -moz-filter: blur($blur-amount);
                -o-filter: blur($blur-amount);
                -ms-filter: blur($blur-amount);
              }*!

              .name-caption-container {
                bottom: 50%;
                //transform: translateY(50%);

                h6 {
                  display: none;
                }

                .buttons {
                  display: block;

                  .btn-outline-light {
                    border-color: $white;
                  }

                }

              }

            }*/

    }

    .insight-image-tile {
      max-height: 400px;
    }

  }
}

.str-insight-pic {

  padding: 0;
  color: $white;

  &:last-child {

    h4 {
      font-size: 2rem;
    }

  }

  //max-height: 700px;

  .insight-image-tile {
    position: relative;
    overflow: hidden;

    img {
      width: 100%;

      &.gradient {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
      }
    }



    .insight-info {
      position: absolute;
      bottom: 0;
      z-index: 5;
      width: 20rem;
      min-width: 300px;
      font-size: 1rem;

      @include media-breakpoint-down(sm){
        font-size: 1.6rem;
        padding: 3rem 2rem;
      }

      .author {
        img {
          height: 2em;
          width: 2em;
          vertical-align: top;
          margin-right: .2em;
        }

        .author-details {
          height: 2em;
          line-height: 2em;
          vertical-align: top;

          h4 {
            font-size: 1em;
            color: white;
            margin: 0 0 .1em;
          }
          h6 {
            font-size: .6em;
            opacity: .8;
            margin: 0;
          }
        }
      }

      .article-title {
        margin: 1rem 0;
        min-height: 6em;
        h4 {
          font-size: 1.6em;

          &.lge{
            font-size: 1.6em;
            @include media-breakpoint-up(md){
              font-size: 2.2em;
            }
          }

        }

      }

      a.btn.btn-primary {
        font-size: .6rem;
      }
    }
  }

}

.column-pic-container {

  .str-grid-pic {
    width: 100%;
    height: auto;

  }


    @include media-breakpoint-up(sm){
      position: absolute;
      top: 0;
      right: 0;

      .str-grid-pic {
        height: 50%;
        width: auto;
      }
    }


}

.str-insight-stripe {

  border-bottom: 1px solid $light-gray;

  h6 {
    color: $dark-cream;
    font-size: .6rem;
    margin: 0 0 .3rem;
  }

  h4 {
    font-size: 1.4rem;
    max-width: 32rem;
  }

  .insight-info {

    padding: 2rem 0;

    .img-container {
      height: 4.25rem;
      line-height: 4.25rem;
      float: left;

    }
    img {
      vertical-align: middle;
      height: 3.4rem;
      width:  3.4rem;
    }

    .insight-details {
      margin-left: 4.25rem;
      vertical-align: top;
    }

  }

  $rows: 6;
  @for $i from 1 through $rows {
    &.stripe-article-bg-#{$i}:hover {
      background-image:  linear-gradient(to right, rgba(17, 22, 40, 0.8), rgba(28, 36, 66, 0)), url("../img/stripe-article-#{$i}.jpg");
    }
  }


  &:hover{

    border: none;

    h4, h6 {
      color: $white;
    }

  }

}