.wide-picture-grid {

  .str-grid-pic {

    padding: 0;
    color: $white;
    height: 470px;

    .about-us-image-tile, .success-image-tile {

      overflow: hidden;
      position: relative;

      h4.display-4 {
        color: $white;
        font-size: 2rem;
        margin: 1rem;
      }

      h6.title {
        color: $white;
        font-size: .6rem;
        opacity: .8;
      }

      p {
        font-size: .8rem;
      }

      img {
        height: 100%;

        &.gradient {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
        }

        &.overlay {
          visibility: hidden;
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2;
        }
      }

      .name-caption-container {
        position: absolute;
        bottom: 0;
        z-index: 3;
        width: 100%;
        margin-bottom: 1rem;
        //transition: all .4s ease-in-out;
        //transform: translateY(0%);
      }

      .photo-caption {
        position: absolute;
        z-index: 3;
        bottom: -2rem;
        padding: 0 0 2.51rem 3.75rem;
        //margin-bottom: 1rem;

        h5.display-5 {
          margin-top: 1rem;
          text-transform: uppercase;
          font-size: .8rem;
          visibility: hidden;
          opacity: 0;
        }

      }

      &.over {
        opacity: .5;

        .name-caption-container {
          bottom: 50%;
        }
      }

      .buttons {

        &.upper {
          visibility: hidden;
          opacity: 0;
        }

        a:hover {
          color: $white;
        }

        &.lower {

          position: relative;
          text-align: center;
          width: 100%;
          height: 1rem;

          > h6, div {
            position: absolute;
            top: 0;
            display: inline-block;
            left: 50%;
            transform: translateX(-50%);
          }

          .btn {
            visibility: hidden;
            opacity: 0;
          }

        }

        .button {
          cursor: pointer;
          height: 1rem;
          border-radius: 2rem;
          background-color: rgba($dark-cream, .5);
          min-width: 1rem;
          margin: 0 1rem;
          padding: 1rem;
          font-size: .8rem;
          img {
            height: .8rem;
            width: .8rem;
          }
          &:hover {
            background-color: rgba($dark-cream, .9);
          }
        }

        .btn-outline-light {
          // margin-top: .5rem;
          border-color: $dark-cream;
        }
      }

      /*
            &.over {

      !*        > img {
                $blur-amount: 50px;
                filter: blur($blur-amount);
                // Browser Specific
                -webkit-filter: blur($blur-amount);
                -moz-filter: blur($blur-amount);
                -o-filter: blur($blur-amount);
                -ms-filter: blur($blur-amount);
              }*!

              .name-caption-container {
                bottom: 50%;
                //transform: translateY(50%);

                h6 {
                  display: none;
                }

                .buttons {
                  display: block;

                  .btn-outline-light {
                    border-color: $white;
                  }

                }

              }

            }*/

    }

    .insight-image-tile {
      max-height: 400px;
    }

  }
}

.str-insight-pic {

  padding: 0;
  color: $white;

  &:last-child {

    h4 {
      font-size: 2rem;
    }

  }

  //max-height: 700px;

  .insight-image-tile {
    position: relative;
    overflow: hidden;

    img {
      width: 100%;

      &.gradient {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
      }
    }

    .author {
      img {
        height: 2rem;
        width: 2rem;
        vertical-align: top;
        margin-right: .2rem;
      }

      .author-details {
        height: 2rem;
        line-height: 2rem;
        vertical-align: top;

        h4 {
          font-size: 1rem;
          color: white;
          margin: 0 0 .1rem;
        }
        h6 {
          font-size: .6rem;
          opacity: .8;
          margin: 0;
        }
      }
    }

    .insight-info {
      position: absolute;
      bottom: 0;
      z-index: 5;
      width: 20rem;
      min-width: 300px;

      .article-title {
        margin: 1rem 0;
        min-height: 6rem;
        h4 {
          font-size: 1.6rem;
        }

      }

      a.btn.btn-primary {
        font-size: .6rem;
      }
    }
  }

}

.str-insight-stripe {

  border-bottom: 1px solid $light-gray;

  h6 {
    color: $dark-cream;
    font-size: .6rem;
    margin: 0 0 .3rem;
  }

  h4 {
    font-size: 1.4rem;
    max-width: 32rem;
  }

  .insight-info {

    padding: 2rem 0;

    .img-container {
      height: 4.25rem;
      line-height: 4.25rem;
      float: left;

    }
    img {
      vertical-align: middle;
      height: 3.4rem;
      width:  3.4rem;
    }

    .insight-details {
      margin-left: 4.25rem;
      vertical-align: top;
    }

  }


  &.stripe-article-bg{
    background-image:  linear-gradient(to right, rgba(17, 22, 40, 0.8), rgba(28, 36, 66, 0)), url("../img/stripe-article.jpg");
    border: none;

    h4, h6 {
      color: $white;
    }

  }

}