$light-cream:    #f7f5ef !default;
$dark-blue:  #1c2541 !default;
$bright-blue:  #2b63ff !default;
$mid-grey-yellow:  #7f7b6f !default;
$very-light-grey:  #f2f2f2 !default;
$corn-yellow: #ffc72c !default;
$dark-gray: #1c2442 !default;
$light-gray: #eae7de !default;
$very-dark-gray: #212121 !default;
$mid-cream: #eae7de !default;
$dark-cream: #bbb6a8 !default;