$light-cream:    #f7f5ef !default;
$dark-blue:  #1c2541 !default;
$bright-blue:  #2b63ff !default;
$mid-grey-yellow:  #7f7b6f !default;
$very-light-grey:  #f2f2f2 !default;
$corn-yellow: #ffc72c !default;