-
    var navItems = [
    { name: 'Services', link: 'services.html' },
    { name: 'Success Stories', link: 'success-stories.html' },
    { name: 'About Us', link: 'about-us.html' },
    { name: 'Insights', link: 'insights.html' },
    { name: 'Private Equity', link: 'private-equity.html' }
    ,     { name: 'Contact Us', link: '/#contact-us' }
    ]

    var navDict = {
        "insights": { name: 'Insights', link: 'insights.html' },
        "services": { name: 'Services', link: 'services.html' }
    }

    var homeItem = { name: 'Home', link: '/' };
    var fullNavItems = navItems.slice();
    fullNavItems.unshift(homeItem);

    var currentPage = 'Home'

    var twitterLink = 'https://twitter.com/strategyrevenue/';
    var linkedInLink = 'https://www.linkedin.com/company/strategytorevenue/';
    var mediumLink = 'https://medium.com/strategy-to-revenue';
    var newsletterLink = '/#newsletter';

    var expertise = [
    {
    id: "expertise-alignment",
    overlayId: "overlay-expertise-alignment",
    title: "Sales Strategy<br>Alignment",
    summary: "We work with you to ensure the strategic goals of your company…",
    fullText: "We work with you to ensure the strategic goals of your company are reflected in a clearly defined sales strategy with clear metrics in place. We look for a comprehensive understanding of the total addressable market, current and potential wallet share, and identify ‘white space’ opportunities you can address to achieve your goal."
    },
    {
    id: "expertise-messaging",
    overlayId: "overlay-expertise-messaging",
    title: "Messaging",
    summary: "Your marketing team has worked hard to create a position for your company, but…",
    fullText: "Your marketing team has worked hard to create a position for your company, but does it support your mission critical objectives? Is the sales organization and your channel able, and willing, to articulate your corporate messaging and use it as a point of differentiation in the sales cycle? Just as importantly, do your messages resonate with potential buyers? We look at where messaging gets lost in translation and identify the content and tools to enable sales teams to accurately communicate your value proposition."
    },
    {
    id: "expertise-segmentation",
    overlayId: "overlay-expertise-segmentation",
    title: "Customer<br>Segmentation",
    summary: "We work with you to ensure your sales method is aligned to your…",
    fullText: "We work with you to ensure your sales method is aligned to your customers’ buying behaviors and preferences, and balanced with your company’s profitability and growth goals.  We look at whether the market is correctly segmented, and consider customer buying behaviors and metrics, and how effectively they are being addressed. We also look at segment potential and profitability based on the cost of acquiring and serving the customer base, both directly and via the channel."
    },
    {
    id: "expertise-incentives",
    overlayId: "overlay-expertise-incentives",
    title: "Compensation<br>& Incentives",
    summary: "We assess whether your compensation plans support your mission…",
    fullText: "We assess whether your compensation plans support your mission critical objectives and if they reward the behavioral changes you need from your sales team. We look at whether they are optimized to recruit and retain top talent and if they adequately address all segments of your sales organization."
    },
    {
    id: "expertise-salesforce",
    overlayId: "overlay-expertise-salesforce",
    title: "Sales Force<br>Deployment",
    summary: "One of the most complex areas of discovery…",
    fullText: "One of the most complex areas of discovery. When we consider if the sales force is configured correctly we look at its size, structure and capabilities, checking it is effective enough to fulfil the market opportunity. We cover all aspects from sales operations right down to the support functions, looking at the alignment between sales, marketing and operations as a priority."
    },
    {
    id: "expertise-performance",
    overlayId: "overlay-expertise-performance",
    title: "Performance<br>Management",
    summary: "Consistency is key in performance management. We consider…",
    fullText: "Consistency is key in performance management. We consider how sales force effectiveness is mapped across all stages of the sales process and the most efficient way to improve upon it. We help develop or update formal processes and reporting cadence, and implement methods to ensure standards are enforced across territories."
    },
    {
    id: "expertise-tools",
    overlayId: "overlay-expertise-tools",
    title: "Sales Tools<br>& Process",
    summary: "The scaffolding that supports all high performing sales teams…",
    fullText: "The scaffolding that supports all high performing sales teams is discipline and rigour. We check whether your team has a disciplined sales process that is consistently applied across regions and job functions. We check that each step in the sales cycle has the correct method of advancement in place, and that the sales process is in line with customers’ buying journeys. We evaluate the tools and job functions used to support your sales team, identifying hurdles and fixes that can help improve sales force effectiveness."
    },
    {
    id: "expertise-reporting",
    overlayId: "overlay-expertise-reporting",
    title: "Reporting<br>& Analysis",
    summary: "Is what you are reporting on aligned to your strategic…",
    fullText: "Is what you are reporting on aligned to your strategic imperatives? Does your sales team have metrics in place for basics such as customer acquisition and retention, and share of wallet? Do you have effective processes in place to manage discounting, lead generation and channel opportunities? In addition to looking at the process, we also offer better insight into those leading indicators that will transform your business."
    },
    {
    id: "expertise-boarding",
    overlayId: "overlay-expertise-boarding",
    title: "Recruiting,<br>On-boarding<br>& Re-boarding",
    summary: "An often-overlooked area which can have a detrimental impact…",
    fullText: "An often-overlooked area which can have a detrimental impact on new recruits and the existing sales team. We’re looking at whether your organization has a clear definition of what the required roles, behaviors and competencies are for success in each sales position, and if there is a recruitment and coaching program in place that supports them.  We consider the impact of the existing sales team on new recruits, and focus on manager-led competency training and ongoing assessment. Finally, we look at how organizations build the right environment for staff to develop the skills, knowledge and capabilities they need to achieve the results the business expects."
    },
    {
    id: "expertise-efficiency",
    overlayId: "overlay-expertise-efficiency",
    title: "Sales<br>Efficiency",
    summary: "As you unleash the full potential of your sales team, can you…",
    fullText: "As you unleash the full potential of your sales team, can you make further improvements? We assess whether you are investing in the right areas for growth and how your sales overheads compare to the market, suggesting areas for change and improvement."
    },
    {
    id: "expertise-pricing",
    overlayId: "overlay-expertise-pricing",
    title: "Pricing &<br>Pricing Models",
    summary: "We look at your pricing strategy and how you manage…",
    fullText: "We look at your pricing strategy and how you manage discounts and rebates, and the move to new subscription pricing models. We address the commercial life cycle, the true cost to acquire and serve customers, and the pricing tools and analytics used within the business."
    },
    {
    id: "expertise-training",
    overlayId: "overlay-expertise-training",
    title: "Training &<br>Coaching",
    summary: "We look at how you educate your teams on the messages and…",
    fullText: "We look at how you educate your teams on the messages and behaviors that will enable them to achieve your objectives. Are you addressing all teams within the sales cycle - inside sales, the channel and even the customer services team? Is the training delivering the right results and how can you deliver sustained improvement fast?"
    }
    ];

    var expertiseDict = {};
    expertise.forEach(function(e) { expertiseDict[e.id] = e});


    var team = [
    {
    firstName: 'Mark',
    fullName: 'Mark Savinson',
    title: 'Chief Operating Officer',
    twitter: 'https://twitter.com/marksavinson',
    linkedIn: 'https://www.linkedin.com/in/marksavinson',
    email: 'mark.savinson@strategytorevenue.com',
    summary: "abc",
    image: 'img/about-mark-s.jpg',
    overlayId: "overlay-about-mark-s",
    overlayImage: "img/overlay-about-mark-s.jpg",
    fullText: "<p>Mark is a sales coaching visionary and a passionate entrepreneur. He is an expert at identifying sales inhibitors within an organization, and creating pathways to overcome them. His entrepreneurial approach means his focus is on delivering fast, tangible results with a positive top line impact. While his coaching expertise mean he consistently develops programs which deliver sustained cultural change and long-term business improvement.",
    skills: [
    "expertise-alignment",
    "expertise-performance",
    "expertise-boarding"]
    }, {
    firstName: 'Garry',
    fullName: 'Garry Veale',
    title: 'Chief Executive Officer',
    twitter: 'https://twitter.com/garryveale',
    linkedIn: 'https://www.linkedin.com/in/garryveale/',
    email: 'garry.veale@strategytorevenue.com',
    summary: "abc",
    image: 'img/about-garry-v.jpg',
    overlayId: "overlay-about-garry-v",
    overlayImage: "img/overlay-about-garry-v.jpg",
    fullText: "<p>Garry is a senior sales and marketing leader with a proven track record of driving revenue, profit and sustainable growth for both technology and services-based organizations.</p><p>A master of sales force effectiveness, Garry has grown start-ups into listed companies, and run sales teams across every global theater for some of the world’s most recognized IT brands.</p><p>With a reputation for developing strategies that empower sales leaders to drive improved productivity and performance, Garry’s teams have consistently outperformed the market, the competition and the expectations set of them.",
    skills: ["Sales Efficiency",
    "expertise-salesforce",
    "expertise-alignment",
    "expertise-segmentation"]
    },
    {
    firstName: 'Tony',
    fullName: 'Tony Wand',
    title: 'Senior Consultant',
    twitter: null,
    linkedIn: 'https://www.linkedin.com/in/tonywand/',
    email: 'tony.wand@strategytorevenue.com',
    summary: "Sales Tools & Process, Channel Engagement, Sales Efficiency, Winning in New Markets & Territories, Performance Management",
    image: 'img/about-tony-w.jpg',
    overlayId: "overlay-about-tony-w",
    fullText: '<p class="lead">With an unswerving focus on sales productivity and profitability, Tony is an expert at helping sales teams make a positive impact on their company’s top line number.</p><p>His skills lie in helping sales teams to sell more value-based solutions, driving share of wallet and reducing the sales cycle. Tony frequently works with companies to roll out new routes to market, engage sales teams in new territories, and to drive channel partner revenue.</p><p>Prior to joining Strategy to Revenue, Tony ran his own consultancy firm, and held senior sales leadership positions at Dell, NetApp and Azlan.</p>',
    overlayImage: "img/overlay-about-tony-w.jpg",
    skills: [
    "expertise-tools",
    "expertise-efficiency",
    "expertise-performance"
    ]
    },
    {
    firstName: 'Michael',
    fullName: 'Michael Copestake',
    title: 'Commercial Sales Director',
    twitter: 'https://twitter.com/salescoach23',
    linkedIn: 'https://www.linkedin.com/in/michael-copestake-b66a901a/',
    email: 'michael.copestake@strategytorevenue.com',
    summary: "abc",
    image: 'img/about-michael-c.jpg',
    overlayId: "overlay-about-abc",
    overlayImage: "img/overlay-about-michael-c.jpg",
    fullText: "<p>Michael is a senior sales coaching and leadership expert with over two decades of experience delivering performance improvement programs. He is adept at analyzing an organisation’s strategy and corporate make up, and identifying with speed and precision how to help it achieve its commercial objectives.  Michael’s innate ability to identify the social and cultural nuances within organizations, that can both fuel and hinder revenue growth, adds another valuable string to Michael’s bow.</p><p>Michael works with large corporates and smaller, more agile organisations and is passionate about helping businesses instil new energy into existing teams, and coaching new teams to quickly make their numbers.",
    skills: ["expertise-performance",
    "expertise-training",
    "expertise-salesforce",
    "expertise-training",
    "expertise-efficiency"]
    },
    {
    firstName: 'Martin',
    fullName: 'Martin Dean',
    title: 'Senior Consultant',
    twitter: null,
    linkedIn: 'https://www.linkedin.com/in/martin-dean-1498b6/',
    email: 'martin.dean@strategytorevenue.com',
    summary: "Sales Efficiency, New Product Messaging, Competitor Positioning, Recruiting, On-boarding and Re-boarding",
    image: 'img/about-martin-d.jpg',
    overlayId: "overlay-about-martin-d",
    fullText: '<p class="lead">Martin is a passionate educator with a pedigree in developing high impact coaching and communications programmes that focus on practical and measurable outcomes. One of the co-founders of Strategy to Revenue, and with over two decades of experience, Martin is a sales enablement veteran with expertize in delivering multi-national projects to large corporates.</p><p>His innovative approach to motivating, equipping and mobilising work teams melds multi-media and more traditional learning environments, and has seen him create some of Strategy to Revenue’s most popular sales enablement programmes.</p>',
    overlayImage: "img/overlay-about-martin-d.jpg",
    skills: [
    "expertise-efficiency",
    "expertise-messaging",
    "expertise-boarding"
    ]
    },
    {
    firstName: 'Robert',
    fullName: 'Robert Fox',
    title: 'Senior Consultant, Americas',
    twitter: 'https://twitter.com/robertfox2',
    linkedIn: 'https://www.linkedin.com/in/robertjfox2',
    email: 'robert.fox@strategytorevenue.com',
    summary: "abc",
    image: 'img/about-robert-f.jpg',
    overlayId: "overlay-about-robert-f",
    overlayImage: "img/overlay-about-robert-f.jpg",
    fullText: "<p>Robert is a senior sales and marketing, and channel enablement expert. Prior to joining Strategy to Revenue, Robert held leading positions at Oracle, Siebel, On Target, and ran his own channel enablement consultancy. Robert is a leading light on helping companies to maximize revenue potential through their direct sales, as well as enabling their channel partners to excel.  Robert frequently works with IT and pharmaceutical companies, amongst others, to grow their revenue with speed and efficiency.",
    skills: ["Channel Engagement",
    "expertise-tools",
    "expertise-performance",
    "expertise-training",
    "expertise-salesforce",
    "expertise-boarding",
    "expertise-efficiency"]
    },
    {
    firstName: 'Neil',
    fullName: 'Neil Whitelock',
    title: 'Senior Consultant',
    twitter: "https://twitter.com/Neil_Whitelock",
    linkedIn: 'https://www.linkedin.com/in/neilwhitelock/',
    email: 'neil.whitelock@straegytorevenue.com',
    summary: "Customer Segmentation, Compensation & Incentives, Sales Tools & Process, Sales Efficiency, Reporting & Analysis",
    image: 'img/about-neil-w.jpg',
    overlayId: "overlay-about-neil-w",
    fullText: '<p class="lead">Neil is a highly successful and competitive business-leader with a proven track-record in building businesses, orchestrating business transformations, and driving sales-growth in technology and finance verticals. He is experienced at re-structuring organizations in response to changing market dynamics and payment models including cloud and SaaS, and running successful alliance and partner programmes globally.</p>',
    overlayImage: "img/overlay-about-neil-w.jpg",
    skills: [
    "expertise-segmentation",
    "expertise-incentives",
    "expertise-tools",
    "expertise-efficiency",
    "expertise-reporting"
    ]
    },
    {
    firstName: 'Rachel',
    fullName: 'Rachel Bibby',
    title: 'Senior Consultant',
    twitter: '#',
    linkedIn: '#',
    email: '#',
    summary: "abc",
    image: 'img/about-rachel-b.jpg',
    overlayId: "overlay-about-rachel-b",
    overlayImage: "img/overlay-about-rachel-b.jpg",
    fullText: "<p>Rachel is a customer focused, data driven marketing communications professional with broad and global experience delivering commercially aligned, integrated marcomms strategies that drive business results.</p><p>Passionate about simplifying business ideas and services to deliver solutions that connect brands with their audiences, Rachel is an expert at cutting through the hype to deliver no-nonsense marketing messages that increase brand awareness and credibility, and positively influence the sales process.",
    skills: [
    "expertise-messaging"
    ]},
    {
    firstName: 'Phil',
    fullName: 'Phil Nutt',
    title: 'Senior Consultant',
    twitter: 'null',
    linkedIn: 'https://www.linkedin.com/in/philip-nutt-95a44',
    email: 'phil.nutt@strategytorevenue.com',
    summary: "abc",
    image: 'img/about-phil-n.jpg',
    overlayId: "overlay-about-phil-n",
    overlayImage: "img/overlay-about-phil-n.jpg",
    fullText: "<p>On-time, on-budget, on-top is Phil’s mantra for ensuring customers receive the best and become the best. Whether it is consulting, designing or delivering, his decades of global experience of enabling sales people, teams and managers, are balanced with his passion to embrace new approaches, technologies and insights.</p><p>Phil uses his extensive skills to enable people to become great at selling, managing and achieving. Prior to his 16 years coaching sales force effectiveness, the last 10 of those with Strategy to Revenue, Phil ran his company delivering sales and marketing application.  He has held senior channel manager roles for technology companies in Europe, Africa and the Middle East, as well as roles at HP, DEC and British Airways.",
    skills: [
    "expertise-efficiency",
    "expertise-training",
    "expertise-performance"]
    }];

    var stories = [
    {
    id: "dhl-express",
    title: "Helping DHL Express<br>Skyrocket Their Sales",
    link: "#",
    image: "img/success-plane.jpg",
    imageSml: "img/success-plane.jpg",
    overlay: {
    id: "overlay-dhl-express",
    image: "img/overlay-success-dhl-express.jpg",
    title: "DHL Express Skyrockets Sales",
    challengeText: "Help DHL Express grow market share across its 220 countries and raise EBIT by 20% in two years",
    approachText: "Strategy to Revenue audited the sales organization and suggested DHL Express support a true coaching culture to deliver sustained sales acceleration. In partnership with DHL we rolled out a global sales enablement curriculum in 13 languages for 6,000 sales staff, with manager-led coaching at its core. The game-like curriculum relied on sales managers and their team members working together to achieve their goals. Two-day workshops were run for Regional Sales Leads to ensure buy-in at the highest level. Train-the-facilitator sessions for the top DHL Express Sales Trainers ensured a consistent delivery of the Sales Manager Programme. Sales Manager diaries facilitated self-learning, self-assessment and access to coaching conversations with senior managers; all were supported by videos and a library of e-learning modules.",
    results: [
    "Revenues climbed nearly 10% following the program roll out",
    "Today DHL Express has 34% global market share",
    "No 1 in Europe, Middle East, Africa and Asia",
    "Brandon Hall Excellence Award Winner for Best Program for Sales Training and Performance"
    ]
    }
    },
    {
    id: 'dotmailer',
    title: 'Strategy to Revenue Drives 20% Increase In Customer Spend',
    link: '#',
    image: 'img/success-dotmailer.jpg',
    imageSml: 'img/success-dotmailer.jpg',
    overlay: {
    id: "overlay-dotmailer",
    image: "img/overlay-success-dotmailer.jpg",
    title: "Strategy to Revenue Drives 20% Increase In Customer Spend",
    challengeText: "Help a leading marketing automation software company coach its customer satisfaction team on how to continue to delight customers, whilst proactively growing share of customer wallet, and freeing up the sales team to focus on new business.",
    approachText: "Strategy to Revenue’s Pathfinder assessment identified the influence of the company’s culture on the team, their motivations, reservations, and working styles. From here, a bespoke Pathfinder program was developed to coach the team how to adopt behaviors that would help the company achieve its goals. Through a Compass SKILLbuild™ online assessment, individuals identified their own performance shortfalls. This formed the basis of a nine-week individual learning path with links to learning, work-based activities and exercises, followed by a two-day workshop where newly learnt competencies were reinforced. The company implemented Strategy to Revenue’s recommendations on how to compensate behaviors using metrics and language associated with customer success rather than sales. Upon completion of the program, team managers were given the tools to continue on-the-job coaching and assessment, ensuring new skills weren’t lost and standards were maintained.",
    results: [
    "77% customer renewal rate, up from 65%",
    "20% increase in value of average customer account",
    "82% of sales team report more time to hunt for new business"
    ],
    resultsSubHeader: "Within 12 months:"
    }
    },
    {
    id: 'thomson',
    title: 'Setting Global Standard<br>for Online Learning ',
    darkTitle: true,
    link: '#',
    image: 'img/success-global.jpg',
    imageSml: 'img/success-thomson-sml.jpg',
    overlay: {
    id: "overlay-thomson",
    image: "img/overlay-success-thomson.jpg",
    title: "Setting Global Standard for Online Learning",
    challengeText: "Ensure the sales and inside sales teams of a global financial news and analytics firm have the product understanding and skills set necessary to sell its complicated and nuanced financial services products globally.",
    approachText: "Strategy to Revenue’s Compass SKILLBuild™ platform was used to assess each sales person’s competencies; the answers provided an opportunity for the sales person to discuss and agree desired final results with their line manager. Based on an agreed competency score, a self-paced, personalized learning pathway was developed, thereby enabling people to demonstrate their understanding of key competencies before undertaking the module. This reduced the time spent by salespeople on unnecessary training and ensured their maximum engagement in the modules. The customizable nature of the Compass SKILLBuild™ platform reflected the language, terminology and market requirements of this very specific field of business.",
    results: [
    "3-month delivery timeframe",
    "Successful roll out to 5,000 sales and inside sales staff",
    "Expansion to other areas of the business, including non-sales functions",
    "Rolling program of expansion and updated course content"
    ]
    }
    },
    {
    id: 'motorola',
    title: 'Onboarding<br>Programme Wins Gold',
    link: '#',
    image: 'img/success-motorola.jpg',
    imageSml: 'img/success-motorola.jpg',
    overlay: {
    id: "overlay-motorola",
    image: "img/overlay-success-motorola.jpg",
    title: "Onboarding Program Wins Gold",
    challengeText: "Create a global onboarding program that educates new hires on Motorola’s strategic transformation and solution selling approach, and improves their time to productivity.",
    approachText: "<p>Recognising the need to deliver a comprehensive and consistent global onboarding program, Motorola engaged Strategy to Revenue as its strategic delivery partner. Via a Discovery session, the Strategy to Revenue team quickly evaluated the key components of sales force effectiveness within Motorola; they used the findings to shape an onboarding program that equipped new hires with the skills, knowledge, sales methodologies, tools and company know-how to become valuable contributors within two quarters.</p><p>From the design of the program to results tracking, the focus was on field performance and business impact. A broad but not overwhelming variety of materials were included in the program, with learning activities delivered in multiple formats including formal courseware, field activities, mentoring and networking. Care was taken to ensure the collateral was both easily updatable, and easily accessible, and digestible to new hires not frequently at a desk. A mix of global and regional content, combined with job specific collateral for direct sales, inside sales and telesales, ensured material was consistent in its messaging and approach, but bespoke enough to make it highly relevant to an individual job role.</p><p>Obligatory learning milestones at 30, 60 and 90 days were specified for both new hires and their managers, and provided clear goals against which they could measure their performance and sales results, whilst establishing a global baseline for performance.</p>",
    results: [
    "Winner of the Gold Brandon Hall Group Excellence Award for Best Onboarding Program"
    ]
    }
    },
    {
    id: 'vodafone',
    title: 'Global Operator Rings In<br>Improved Sales Behaviors',
    link: '#',
    image: 'img/success-red-lines.jpg',
    imageSml: 'img/success-red-lines.jpg',
    overlay: {
    id: "overlay-vodafone",
    image: "img/overlay-success-vodafone.jpg",
    title: "Global Operator Rings In Improved Sales Behaviors",
    challengeText: "Deliver a sustained improvement to commercial performance across all regions, by instilling a culture of continuous learning and manager-led coaching, for a global mobile telecoms operator.",
    approachText: "The mobile operator approached Strategy to Revenue to build a program to give sales managers the necessary skills to deliver on-the- job coaching to their teams. The Pathfinder process identified the company culture and common personality traits amongst sales managers which were shaping the behavior of the sales team. From here, an international standard for sales coaching competency was established. A Compass SKILLBuild™ assessment created a bespoke, self-paced learning path for each sales manager which included a mix of online learning and workplace activity. Successful completion of the course ensured a consistent base level of competency, which was then enhanced via a two-day intensive workshop, affording sales managers the opportunity to discuss their learning and share examples of best practice.",
    results: [
    "Six weeks after the course the client gave feedback that the right opportunities were being addressed in the right way by the sales team."
    ]
    }
    },
    {
    id: 'dhl-global',
    title: 'DHL Delivers 20%+ Pipeline Increase',
    link: '#',
    image: 'img/success-trucks.jpg',
    imageSml: 'img/success-dhl-global-sml.jpg',
    overlay: {
    id: "overlay-dhl-global",
    image: "img/overlay-success-dhl-global.jpg",
    title: "DHL Delivers 20%+ Pipeline Increase",
    challengeText: "Help DHL Global Forwarding become the market leader in Global Freight by 2015",
    approachText: "To enable DHL Global Forwarding’s sales team to cross sell Ocean Freight products to new and existing customers, Strategy to Revenue initiated a short but intense consultation followed by a brainstorm with 20 DHL Global Forwarding DGF subject matter experts; this provided insight into target customers’ decision-making issues. Strategy to Revenue created a value proposition mapping and messaging strategy along with supporting sales tools. In a market where differentiation is difficult the DHL Global Forwarding DGF campaign armed the sales team with the tools to demonstrate the strength of their proposition and improve their product knowledge to sell more. Coaching sessions in multiple languages, including Chinese, were rolled out to 3,400 sales people and supported with online sales tools. Global alignment and consistency of message were ensured through webinars, and weekly communications and inter-country leagues kept the campaign top-of-mind.",
    results: [
    "24.5% increase in Ocean Freight sales pipeline",
    "6.1% YoY market-leading growth",
    "98% sales force engagement",
    "212% increase in registration and sales activity on campaign site",
    "Brandon Hall Winner for Best Marketing Impact"
    ]
    }
    },
    {
    id: 'dhl-anon',
    title: '25 Million Euro Pipeline<br>Delivered in 4 Weeks',
    link: '#',
    image: 'img/success-dhl-vehicles.jpg',
    imageSml: 'img/success-dhl-vehicles.jpg',
    overlay: {
    id: "overlay-dhl-global",
    image: "img/overlay-success-dhl-anon.jpg",
    title: "25 Million Euro Pipeline Delivered in 4 Weeks",
    challengeText: "Equip the European sales team of a major logistics firm with the skills to generate net-new business by directly engaging in a competitive campaign to handle objections and win against one of its biggest competitors.",
    approachText: "Strategy to Revenue developed high quality multimedia assets to engage the sales team, including videos conveying the excitement, urgency and importance felt by senior executives and key stakeholders about the competitive opportunity. Team activities drew attention to the value of the company’s strengths and how this significant competitor would try to retain the business.  A range of interactive exercises, handouts and action-planning activities ensured lively participation in all markets, and sales leaders were provided with all the required materials to run the sessions with their teams in their local language.  Sessions ended with action-planning against which each team member had to deliver back in the workplace.",
    results: [
    "4,000 people trained across 32 countries in 4 weeks",
    "5 million euro revenue uplift",
    "25 million euro run rate secured for 12 months in just 4 weeks",
    "Follow-up sessions addressing other competitors delivered equal benefits"
    ]
    }
    }
    ]


    var insights = [
    {
    title: "Bridging The Gap Between Your Strategy And Your Sales Teams’ Ability To Fullfil It",
    link: "#",
    image: "img/article-holder-1.jpg",
    bgClass: 'stripe-article-bg-1',
    author: {
    id: "team-garry-v",
    fullName: 'Garry Veale',
    title: 'Chief Executive Officer',
    image: 'img/oval-garry-v.png'
    }
    },
    {
    title: "3 Quick Strategies to Drive Sales Productivity",
    link: "insights.html",
    image: "img/article-holder-2.jpg",
    bgClass: 'stripe-article-bg-2',
    author: {
    id: "team-robert-f",
    fullName: 'Robert Fox',
    title: 'Senior Consultant',
    image: 'img/oval-robert-f.png'
    }
    },
    {
    title: "3 Lessons Brexit Teaches Us About Objections Handling",
    link: "#",
    image: "img/article-holder-1.jpg",
    bgClass: 'stripe-article-bg-3',
    author: {
    id: "team-robert-f",
    fullName: 'Robert Fox',
    title: 'Senior Consultant',
    image: 'img/oval-robert-f.png'
    }
    },
    {
    title: "Bridging The Gap Between Your Strategy And Your Sales Teams’ Ability To Fullfil It",
    link: "#",
    image: "img/article-holder-1.jpg",
    bgClass: 'stripe-article-bg-4',
    author: {
    id: "team-garry-v",
    fullName: 'Garry Veale',
    title: 'Chief Executive Officer',
    image: 'img/oval-garry-v.png'
    }
    },
    {
    title: "Training & coaching methodologies that can transform your business for sustained growth",
    link: "#",
    image: "img/article-holder-2.jpg",
    bgClass: 'stripe-article-bg-5',
    author: {
    id: "team-mark-s",
    fullName: 'Mark Savinson',
    title: 'Chief Operating Officer',
    image: 'img/oval-mark-s.png'
    }
    },
    {
    title: "Tools to activate your revenue goals",
    link: "#",
    image: "img/article-holder-2.jpg",
    bgClass: 'stripe-article-bg-6',
    author: {
    id: "team-garry-v",
    fullName: 'Peter Smith',
    title: 'Operations Director',
    image: 'img/oval-peter-s.png'
    }
    }
    ];