-
    var navItems = [
    { name: 'Services', link: 'services.html' },
    { name: 'Success Stories', link: 'success-stories.html' },
    { name: 'About Us', link: 'about-us.html' },
    { name: 'Insights', link: 'insights.html' },
    { name: 'Private Equity', link: '#' },
    { name: 'Contact Us', link: '#' }
    ]

    var navDict = {
        "insights": { name: 'Insights', link: 'insights.html' }
    }

    var homeItem = { name: 'Home', link: '/' };
    var fullNavItems = navItems.slice();
    fullNavItems.unshift(homeItem);

    var currentPage = 'Home'

    var twitterLink = 'https://twitter.com/strategyrevenue/';
    var linkedInLink = 'https://www.linkedin.com/company/strategytorevenue/';
    var mediumLink = 'https://medium.com/strategy-to-revenue';