-
    var navItems = [
    { name: 'Services', link: 'services.html' },
    { name: 'Success Stories', link: 'success-stories.html' },
    { name: 'About Us', link: 'about-us.html' },
    { name: 'Insights', link: 'insights.html' },
    { name: 'Careers', link: '#' },
    { name: 'Contact Us', link: '#' }
    ]


    var homeItem = { name: 'Home', link: '/' };
    var fullNavItems = navItems.slice();
    fullNavItems.unshift(homeItem);

    var currentPage = 'Home'

    var twitterLink = 'https://twitter.com/';
    var linkedInLink = 'https://linked-in.com/';
    var mediumLink = 'https://medium.com/';