
include mobile-nav

header.container-fluid.bg-blue
    .row.align-items-center.justify-content-center
        .col-8.col-md-2.col-lg-3.p-0.pl-3
            .logo-container.ml-2.ml-lg-3.pt-3.pt-lg-4.pb-3.pt-lg-4
                a(href="/")
                    img.logo(src='img/logo-strategy-to-revenue.svg')
        .d-none.d-md-block.col-md-10.col-lg-9.p-0.pr-2
            nav.text-right.mr-4.mr-xl-5
                ul.nav.justify-content-end
                    each navItem in navItems
                        li.nav-item
                            a.nav-link(href=navItem.link, class=currentPage==navItem.name?'active':'')= navItem.name
        .col-4.d-md-none.text-right
            button#mobile-menu-button.hamburger.hamburger--spin.clr-white(type="button")
                span.hamburger-box
                    span.hamburger-inner

    .row
        .block-bottom-border.col-12

