head
    title= 'Strategy to Revenue - ' + currentPage
    meta(charset='UTF-8')
    link(href="https://fonts.googleapis.com/css?family=Work+Sans:400,700", rel="stylesheet")
    link(rel="stylesheet", href="node_modules/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="css/main.css")
