section.up-next.container-fluid
    .str-pic-hero.text-center.w-100.d-table.center-div
        .d-table-cell.align-middle
            h5.display-5.text-uppercase Coming Up Next
            h2.display-2 Insights From
                span.clr-bright-blue=" Our Experts"
            a.btn.btn-secondary.btn-lg(href=navDict['insights'].link) Show Insights
