-
    var settings = trailerSettings;

    if(!settings){
      settings = {
            titleWhite: "Insights From ",
            titleBlue: "Our Experts",
            buttonCaption: "Show Insights",
            backgroundClass: ""
        };
    }

section.up-next.container-fluid.box-link(class=settings.backgroundClass)
    .str-pic-hero.text-center.w-100.d-table.center-div
        .d-table-cell.align-middle
            h5.display-5.text-uppercase.clr-white Coming Up Next
            h2.display-2= settings.titleWhite
                span.clr-bright-blue= settings.titleBlue
            a.btn.btn-secondary.btn-lg(href=navDict['insights'].link)= settings.buttonCaption
