section.up-next.container-fluid
    .str-pic-hero.text-center.w-100.p-5.p-5.d-table
        .d-table-cell.align-middle
            h6 Coming Up Next
            h2.display-2 Insights From Our Experts
            a.btn.btn-secondary.btn-lg Show Insights
