@font-face {
  font-family: 'Apercu';
  src: url("../fonts/Apercu/Apercu-Bold.eot");
  src: url("../fonts/Apercu/Apercu-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Apercu/Apercu-Bold.woff2") format("woff2"), url("../fonts/Apercu/Apercu-Bold.woff") format("woff"), url("../fonts/Apercu/Apercu-Bold.ttf") format("truetype"), url("../fonts/Apercu/Apercu-Bold.svg#Apercu-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }

html {
  font-size: 14px; }
  @media screen and (min-width: 900px) {
    html {
      font-size: 16px; } }
  @media screen and (min-width: 1260px) {
    html {
      font-size: 20px; } }

body {
  font-family: 'Work Sans', sans-serif;
  background-color: #f7f5ef;
  color: #7f7b6f; }

a {
  color: inherit; }
  a:hover {
    text-decoration: none;
    color: #2b63ff; }

h1, h2, h3, h4 {
  color: #1c2541;
  font-family: Apercu, "Work Sans", "Helvetica Neue", sans-serif;
  font-weight: bold; }

h2 {
  font-size: 3.6rem; }

.display-hero {
  font-size: 7.5rem;
  line-height: .93;
  margin-bottom: 2rem; }

.display-1 {
  font-size: 5rem;
  line-height: 1; }

.display-2 {
  font-size: 3.2rem;
  line-height: 1; }

.display-3 {
  font-size: 1.8rem;
  margin-bottom: 0; }

.display-4 {
  font-size: 1.8rem;
  margin-bottom: 0; }

.display-5 {
  font-size: .9rem;
  font-weight: 400;
  line-height: 1.33; }

h6.display-6 {
  font-size: .7rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  line-height: 1.29;
  color: #7f7b6f; }

p {
  font-size: .9rem;
  line-height: 1.78;
  font-weight: 300; }

header,
section,
footer {
  margin: 0;
  padding: 1px;
  /* tweaked from 0 to 1px */ }
  header > div,
  section > div,
  footer > div {
    margin: -1px; }

.font-weight-bold {
  font-weight: 600 !important; }

.bg-blue {
  background-color: #1c2541; }

.bg-yellow {
  background-color: #ffc72c; }

.bg-light-cream {
  background-color: #f7f5ef; }

.bg-mid-cream {
  background-color: #eae7de; }

.bg-bright-blue {
  background-color: #2b63ff; }

.clr-dark-blue {
  color: #1c2541 !important; }

.clr-white {
  color: #fff !important; }

.clr-bright-blue {
  color: #2b63ff !important; }

.clr-mid-blue {
  color: #74798b !important; }

.blur-image {
  filter: blur(50px);
  -webkit-filter: blur(50px);
  -moz-filter: blur(50px);
  -o-filter: blur(50px);
  -ms-filter: blur(50px); }

.h-align {
  margin-left: 50%;
  transform: translateX(-50%); }

.no-padding {
  padding: 0; }

.str .container-fluid {
  max-width: 1440px; }
.str .box-link {
  cursor: pointer; }

.gradient-mask {
  background-image: linear-gradient(to right, rgba(17, 22, 40, 0.8), rgba(28, 36, 66, 0));
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }

.home-hero-bg {
  position: absolute;
  width: 100%;
  top: 0;
  background-image: url("../img/hero-kv.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 37rem; }

.str-home-hero.jumbotron {
  padding: 2rem 9.3rem;
  background: none; }
  .str-home-hero.jumbotron p.lead {
    font-size: .9rem;
    line-height: 1.67;
    color: #f7f5ef;
    width: 22.3rem; }

.str-hero.jumbotron {
  text-align: center;
  background-color: inherit;
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: 0;
  padding: 4rem 2rem 2rem; }
  .str-hero.jumbotron h1 {
    font-weight: bold;
    font-size: 5rem;
    color: #fff;
    margin-bottom: 1.4rem; }
  .str-hero.jumbotron p.lead {
    font-size: 1.2rem;
    line-height: 1.67;
    color: #828aac;
    max-width: 38rem;
    margin: 0 auto 5rem; }

.str-card-container {
  font-size: 0.8rem; }

.str-card {
  padding: 2em;
  border: 1px solid #eae7de;
  margin-left: -1px;
  margin-top: -1px; }
  .str-card .icon-container {
    height: 8em;
    margin-bottom: 1.4em; }
    .str-card .icon-container img {
      height: 100%; }
  .str-card p {
    padding: 1rem 1.5rem; }

.str-main .heading {
  padding: 4rem 1rem 4rem 6rem; }
.str-main .content-center {
  padding: 6rem 0; }
.str-main p {
  padding: 5rem 6rem 5rem 0; }
  .str-main p.cons {
    padding: 5rem 6rem 5rem 6rem; }

section {
  background-repeat: no-repeat;
  background-size: cover; }
  section.discovery {
    background-image: linear-gradient(to right, rgba(17, 22, 40, 0.8), rgba(28, 36, 66, 0)), url("../img/discovery.jpg"); }
  section.mapping {
    background-image: linear-gradient(to right, rgba(17, 22, 40, 0.8), rgba(28, 36, 66, 0)), url("../img/mapping.jpg"); }
  section.pathfinder {
    background-image: linear-gradient(to right, rgba(17, 22, 40, 0.8), rgba(28, 36, 66, 0)), url("../img/pathfinder.jpg"); }
  section.compass {
    background-image: linear-gradient(to right, rgba(17, 22, 40, 0.8), rgba(28, 36, 66, 0)), url("../img/compass.jpg"); }
  section.up-next {
    background-image: url("../img/next-holder.jpg"); }

.str-pic-hero {
  background-color: inherit;
  font-size: .8rem;
  color: #fff; }
  .str-pic-hero .heading {
    padding: 4rem 1rem 4rem 6rem; }
  .str-pic-hero.center-div {
    padding: 5rem 0; }
    .str-pic-hero.center-div h5 {
      opacity: .4; }
  .str-pic-hero h2 {
    color: inherit;
    margin-bottom: 1.2rem; }
  .str-pic-hero p {
    line-height: 1.78;
    font-size: .9rem;
    width: 23em;
    font-weight: 300;
    margin-bottom: 3rem; }
  .str-pic-hero a.overlay-link {
    font-size: .9em;
    text-transform: uppercase;
    padding-bottom: .4rem;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    border-bottom: 2px solid transparent; }
    .str-pic-hero a.overlay-link:hover {
      color: #fff;
      border-bottom: 2px solid #ffc72c; }
  .str-pic-hero h6 {
    font-size: .8rem;
    text-transform: uppercase;
    color: #fff;
    opacity: .6; }
  .str-pic-hero.up-next {
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5rem 0; }

.str-hex-tile-container {
  visibility: hidden;
  /*
  background-color: red;

  &.odd {
    background-color: blue;
  }
  */ }

.str-hex-tile-container {
  margin: 4.5rem auto 8rem;
  max-width: 895px; }
  .str-hex-tile-container .str-hex-tile {
    padding: 5px;
    display: table;
    cursor: pointer; }
    .str-hex-tile-container .str-hex-tile div.hex-inner {
      display: table-cell;
      width: 100%;
      height: 100%;
      background-image: url("../img/polygon.svg");
      background-size: contain;
      background-repeat: no-repeat;
      font-size: .8rem;
      line-height: 1rem;
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -ms-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s; }
      .str-hex-tile-container .str-hex-tile div.hex-inner:hover {
        background-image: url("../img/polygon-over.svg"); }
        .str-hex-tile-container .str-hex-tile div.hex-inner:hover span, .str-hex-tile-container .str-hex-tile div.hex-inner:hover a {
          width: 100%;
          display: inline-block;
          color: #1c2541;
          font-weight: 400; }
      .str-hex-tile-container .str-hex-tile div.hex-inner span, .str-hex-tile-container .str-hex-tile div.hex-inner a {
        width: 100%;
        display: inline-block; }
        .str-hex-tile-container .str-hex-tile div.hex-inner span:hover, .str-hex-tile-container .str-hex-tile div.hex-inner a:hover {
          color: #1c2541; }
        .str-hex-tile-container .str-hex-tile div.hex-inner span.em-line, .str-hex-tile-container .str-hex-tile div.hex-inner a.em-line {
          width: 2em;
          height: 2px;
          background-color: #ffc72c; }

.str-feature-box {
  padding: 0; }
  .str-feature-box img.str-feature-image {
    width: 100%;
    height: auto; }
  .str-feature-box .str-feature-text {
    padding: 2rem 3rem;
    width: 100%;
    color: #1c2442;
    position: relative; }
    .str-feature-box .str-feature-text h6 {
      margin-top: .35rem; }
    .str-feature-box .str-feature-text p.summary {
      color: #7f7b6f;
      min-height: 6.4rem;
      margin: 1rem 0 1.78rem;
      font-weight: 300; }
    .str-feature-box .str-feature-text a.btn {
      width: 100%;
      max-width: 13rem;
      margin-bottom: .5rem; }
  @media (min-width: 576px) {
    .str-feature-box .str-feature-text {
      border-right: 1px solid #eae7de; }
    .str-feature-box .str-feature-box:last-child .str-feature-text {
      border-right: none; } }

.str-cream-blue-box {
  background-color: #eae7de;
  color: #1c2541;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s; }
  .str-cream-blue-box:hover {
    background-color: #1c2541;
    color: #fff; }
  .str-cream-blue-box a {
    font-size: 1.4rem; }
    .str-cream-blue-box a:hover {
      color: #fff; }

.circles {
  display: inline-block;
  margin: 0 .5rem; }
  .circles .circle {
    display: inline-block;
    border-radius: 1.5rem;
    height: 3rem;
    line-height: 2.6rem;
    width: 3rem;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    vertical-align: top;
    position: relative;
    float: left;
    margin-left: -1.5rem; }
    .circles .circle.tony {
      background-image: url("../img/oval-tony-w.png");
      margin-left: 0; }
    .circles .circle.martin {
      background-image: url("../img/oval-martin-d.png"); }
    .circles .circle.neil {
      background-image: url("../img/oval-neil-w.png"); }
    .circles .circle.blue {
      border: 3px solid #eae7de; }
      .circles .circle.blue:hover {
        color: #ffc72c; }

.consult-link-text-container {
  height: 3.2rem;
  line-height: 3.2rem;
  margin: 0 .5rem; }
  .consult-link-text-container a {
    float: left; }

.str .btn-lg {
  font-family: "Work Sans", sans-serif;
  font-size: .9em;
  text-transform: uppercase;
  padding: .8rem 1.8rem;
  border-radius: 0.2rem; }
.str .btn-secondary {
  margin-top: .4rem;
  background-color: #ffc72c;
  color: #212121;
  border-color: #ffc72c;
  font-weight: 500;
  width: 13.8rem;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .str .btn-secondary:hover {
    background-color: #2b63ff;
    border-color: #2b63ff;
    color: #fff; }
.str .v-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }
.str .v-spacer {
  height: 1rem; }

.str-button.btn {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: .9rem;
  border-radius: 3px;
  color: #fff;
  padding: 1rem 2rem;
  line-height: 1; }
  .str-button.btn.btn-outline-secondary {
    color: #1c2442;
    border-color: #eae7de;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
    .str-button.btn.btn-outline-secondary:hover {
      color: #fff; }
    .str-button.btn.btn-outline-secondary.lighter {
      color: #7f7b6f; }
  .str-button.btn.yellow {
    background-color: #ffc72c;
    color: #212121;
    border-color: #ffc72c;
    width: 12rem;
    font-weight: bold; }

.wide-picture-grid .str-grid-pic {
  padding: 0;
  color: #fff;
  height: 470px; }
  .wide-picture-grid .str-grid-pic .about-us-image-tile, .wide-picture-grid .str-grid-pic .success-image-tile {
    overflow: hidden;
    position: relative;
      /*
            &.over {

      !*        > img {
                $blur-amount: 50px;
                filter: blur($blur-amount);
                // Browser Specific
                -webkit-filter: blur($blur-amount);
                -moz-filter: blur($blur-amount);
                -o-filter: blur($blur-amount);
                -ms-filter: blur($blur-amount);
              }*!

              .name-caption-container {
                bottom: 50%;
                //transform: translateY(50%);

                h6 {
                  display: none;
                }

                .buttons {
                  display: block;

                  .btn-outline-light {
                    border-color: $white;
                  }

                }

              }

            }*/ }
    .wide-picture-grid .str-grid-pic .about-us-image-tile h4.display-4, .wide-picture-grid .str-grid-pic .success-image-tile h4.display-4 {
      color: #fff;
      font-size: 2rem;
      margin: 1rem; }
    .wide-picture-grid .str-grid-pic .about-us-image-tile h6.title, .wide-picture-grid .str-grid-pic .success-image-tile h6.title {
      color: #fff;
      font-size: .6rem;
      opacity: .8; }
    .wide-picture-grid .str-grid-pic .about-us-image-tile p, .wide-picture-grid .str-grid-pic .success-image-tile p {
      font-size: .8rem; }
    .wide-picture-grid .str-grid-pic .about-us-image-tile img, .wide-picture-grid .str-grid-pic .success-image-tile img {
      height: 100%; }
      .wide-picture-grid .str-grid-pic .about-us-image-tile img.gradient, .wide-picture-grid .str-grid-pic .success-image-tile img.gradient {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1; }
      .wide-picture-grid .str-grid-pic .about-us-image-tile img.overlay, .wide-picture-grid .str-grid-pic .success-image-tile img.overlay {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2; }
    .wide-picture-grid .str-grid-pic .about-us-image-tile .name-caption-container, .wide-picture-grid .str-grid-pic .success-image-tile .name-caption-container {
      position: absolute;
      bottom: 0;
      z-index: 3;
      width: 100%;
      margin-bottom: 1rem; }
    .wide-picture-grid .str-grid-pic .about-us-image-tile .photo-caption, .wide-picture-grid .str-grid-pic .success-image-tile .photo-caption {
      position: absolute;
      z-index: 3;
      bottom: -2rem;
      margin-bottom: 1rem; }
      .wide-picture-grid .str-grid-pic .about-us-image-tile .photo-caption h5, .wide-picture-grid .str-grid-pic .success-image-tile .photo-caption h5 {
        font-size: 1.2rem;
        font-family: Apercu, sans-serif;
        font-weight: bold; }
      .wide-picture-grid .str-grid-pic .about-us-image-tile .photo-caption h6, .wide-picture-grid .str-grid-pic .success-image-tile .photo-caption h6 {
        margin-top: 1rem;
        text-transform: uppercase;
        font-size: .6rem;
        font-family: Apercu, sans-serif;
        font-weight: bold;
        visibility: hidden;
        opacity: 0; }
    .wide-picture-grid .str-grid-pic .about-us-image-tile.over, .wide-picture-grid .str-grid-pic .success-image-tile.over {
      opacity: .5; }
      .wide-picture-grid .str-grid-pic .about-us-image-tile.over .name-caption-container, .wide-picture-grid .str-grid-pic .success-image-tile.over .name-caption-container {
        bottom: 50%; }
    .wide-picture-grid .str-grid-pic .about-us-image-tile .buttons.upper, .wide-picture-grid .str-grid-pic .success-image-tile .buttons.upper {
      visibility: hidden;
      opacity: 0; }
    .wide-picture-grid .str-grid-pic .about-us-image-tile .buttons a:hover, .wide-picture-grid .str-grid-pic .success-image-tile .buttons a:hover {
      color: #fff; }
    .wide-picture-grid .str-grid-pic .about-us-image-tile .buttons.lower, .wide-picture-grid .str-grid-pic .success-image-tile .buttons.lower {
      position: relative;
      text-align: center;
      width: 100%;
      height: 1rem; }
      .wide-picture-grid .str-grid-pic .about-us-image-tile .buttons.lower > h6, .wide-picture-grid .str-grid-pic .about-us-image-tile .buttons.lower div, .wide-picture-grid .str-grid-pic .success-image-tile .buttons.lower > h6, .wide-picture-grid .str-grid-pic .success-image-tile .buttons.lower div {
        position: absolute;
        top: 0;
        display: inline-block;
        left: 50%;
        transform: translateX(-50%); }
      .wide-picture-grid .str-grid-pic .about-us-image-tile .buttons.lower .btn, .wide-picture-grid .str-grid-pic .success-image-tile .buttons.lower .btn {
        visibility: hidden;
        opacity: 0; }
    .wide-picture-grid .str-grid-pic .about-us-image-tile .buttons .button, .wide-picture-grid .str-grid-pic .success-image-tile .buttons .button {
      cursor: pointer;
      height: 1rem;
      border-radius: 2rem;
      background-color: rgba(187, 182, 168, 0.5);
      min-width: 1rem;
      margin: 0 1rem;
      padding: 1rem;
      font-size: .8rem; }
      .wide-picture-grid .str-grid-pic .about-us-image-tile .buttons .button img, .wide-picture-grid .str-grid-pic .success-image-tile .buttons .button img {
        height: .8rem;
        width: .8rem; }
      .wide-picture-grid .str-grid-pic .about-us-image-tile .buttons .button:hover, .wide-picture-grid .str-grid-pic .success-image-tile .buttons .button:hover {
        background-color: rgba(187, 182, 168, 0.9); }
    .wide-picture-grid .str-grid-pic .about-us-image-tile .buttons .btn-outline-light, .wide-picture-grid .str-grid-pic .success-image-tile .buttons .btn-outline-light {
      border-color: #bbb6a8; }
  .wide-picture-grid .str-grid-pic .insight-image-tile {
    max-height: 400px; }

.str-insight-pic {
  padding: 0;
  color: #fff; }
  .str-insight-pic:last-child h4 {
    font-size: 2rem; }
  .str-insight-pic .insight-image-tile {
    position: relative;
    overflow: hidden; }
    .str-insight-pic .insight-image-tile img {
      width: 100%; }
      .str-insight-pic .insight-image-tile img.gradient {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 1; }
    .str-insight-pic .insight-image-tile .author img {
      height: 2rem;
      width: 2rem;
      vertical-align: top;
      margin-right: .2rem; }
    .str-insight-pic .insight-image-tile .author .author-details {
      height: 2rem;
      line-height: 2rem;
      vertical-align: top; }
      .str-insight-pic .insight-image-tile .author .author-details h4 {
        font-size: 1rem;
        color: white;
        margin: 0 0 .1rem; }
      .str-insight-pic .insight-image-tile .author .author-details h6 {
        font-size: .6rem;
        opacity: .8;
        margin: 0; }
    .str-insight-pic .insight-image-tile .insight-info {
      position: absolute;
      bottom: 0;
      z-index: 5;
      width: 20rem;
      min-width: 300px; }
      .str-insight-pic .insight-image-tile .insight-info .article-title {
        margin: 1rem 0;
        min-height: 6rem; }
        .str-insight-pic .insight-image-tile .insight-info .article-title h4 {
          font-size: 1.6rem; }
      .str-insight-pic .insight-image-tile .insight-info a.btn.btn-primary {
        font-size: .6rem; }

.str-insight-stripe {
  border-bottom: 1px solid #eae7de; }
  .str-insight-stripe h6 {
    color: #bbb6a8;
    font-size: .6rem;
    margin: 0 0 .3rem; }
  .str-insight-stripe h4 {
    font-size: 1.4rem;
    max-width: 32rem; }
  .str-insight-stripe .insight-info {
    padding: 2rem 0; }
    .str-insight-stripe .insight-info .img-container {
      height: 4.25rem;
      line-height: 4.25rem;
      float: left; }
    .str-insight-stripe .insight-info img {
      vertical-align: middle;
      height: 3.4rem;
      width: 3.4rem; }
    .str-insight-stripe .insight-info .insight-details {
      margin-left: 4.25rem;
      vertical-align: top; }
  .str-insight-stripe.stripe-article-bg {
    background-image: linear-gradient(to right, rgba(17, 22, 40, 0.8), rgba(28, 36, 66, 0)), url("../img/stripe-article.jpg");
    border: none; }
    .str-insight-stripe.stripe-article-bg h4, .str-insight-stripe.stripe-article-bg h6 {
      color: #fff; }

header {
  padding: 2rem 0 2rem 0 !important;
  color: white;
  min-height: 8em;
  font-size: .4rem;
  position: relative; }
  header .logo-container {
    margin-left: 2.8rem; }
  header .logo {
    width: 100%;
    height: 4rem; }
  header nav {
    color: #ffffff;
    font-size: .7rem;
    font-weight: 600;
    line-height: 1.7;
    text-transform: uppercase;
    margin-right: 4.5rem; }
    header nav .nav-item {
      margin: 0 1.6rem; }
      header nav .nav-item:first-child {
        margin-left: 0; }
      header nav .nav-item:last-child {
        margin-right: 0; }
    header nav .nav-link {
      cursor: pointer;
      padding: 0 0 .3rem 0;
      border-bottom: 2px solid #1c2541;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
      header nav .nav-link.active {
        border-bottom: 2px solid #ffc72c; }
      header nav .nav-link:hover {
        color: #fff;
        border-bottom: 2px solid #ffc72c; }
    header nav:hover .nav-link.active {
      border-bottom: 2px solid #1c2541; }
      header nav:hover .nav-link.active:hover {
        border-bottom: 2px solid #ffc72c; }
  header .block-bottom-border {
    display: block;
    height: 1px;
    background-color: #fff;
    opacity: 0.1;
    position: absolute;
    bottom: 0;
    width: 100%; }

@media (min-width: 576px) {
  header {
    font-size: .4rem; } }
@media (min-width: 768px) {
  header {
    font-size: .6rem; } }
@media (min-width: 992px) {
  header {
    font-size: .6rem; } }
@media (min-width: 1200px) {
  header {
    font-size: .8rem; } }
footer {
  margin: 0;
  padding: 0; }

.copyright {
  background-color: #eae7de;
  color: #bbb6a8;
  font-size: .6rem;
  padding: .6rem;
  margin: 0 -15px; }

.sm-link {
  display: inline-block; }
  .sm-link:hover {
    color: #1c2541; }
    .sm-link:hover i.twitter {
      background-image: url("../img/twitter-over.svg"); }
    .sm-link:hover i.linked-in {
      background-image: url("../img/linked-in-over.svg"); }
    .sm-link:hover i.medium {
      background-image: url("../img/medium-over.svg"); }
  .sm-link i {
    float: left;
    background-size: contain;
    background-repeat: no-repeat;
    width: 1.4rem;
    height: 1.4rem; }
    .sm-link i.twitter {
      background-image: url("../img/twitter.svg");
      background-position-y: .2rem; }
      .sm-link i.twitter:hover {
        background-image: url("../img/twitter-over.svg"); }
    .sm-link i.linked-in {
      background-image: url("../img/linked-in.svg"); }
      .sm-link i.linked-in:hover {
        background-image: url("../img/linked-in-over.svg"); }
    .sm-link i.medium {
      background-image: url("../img/medium.svg"); }
      .sm-link i.medium:hover {
        background-image: url("../img/medium-over.svg"); }
  .sm-link > span {
    margin-left: .6rem;
    display: inline-block;
    height: 1.4rem;
    line-height: 1.4rem;
    vertical-align: center; }

.social-media {
  margin: 2rem -15px; }

.cream-border {
  height: 1px;
  width: 100%;
  border-bottom: 1px solid #eae7de; }

.footer-menu ul {
  list-style: none;
  font-size: .6rem;
  text-transform: uppercase; }
  .footer-menu ul li {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px; }
    .footer-menu ul li a {
      padding-bottom: 7px; }
      .footer-menu ul li a.selected {
        border-bottom: 1px solid #bbb6a8; }

.noscroll {
  overflow: hidden; }

.overlay-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0; }
  .overlay-background[aria-hidden="true"] {
    width: 100vw;
    z-index: -1; }
    .overlay-background[aria-hidden="true"] .overlay {
      display: none; }
  .overlay-background[aria-hidden="false"] {
    width: 100%;
    z-index: 1; }
  .overlay-background .overlay {
    display: none;
    overflow: hidden;
    position: absolute; }
  .overlay-background .overlay-image-container {
    overflow: hidden; }
  .overlay-background .close-button-bar {
    position: absolute;
    width: 100%;
    top: 2rem;
    height: 3.2rem;
    z-index: 2; }
    .overlay-background .close-button-bar .close-button-container {
      width: 6rem;
      float: right;
      text-align: left;
      height: 3.2rem; }
      .overlay-background .close-button-bar .close-button-container .close-button {
        display: inline-block;
        width: 3.2rem;
        height: 3.2rem;
        float: left;
        border-radius: 1.6rem; }
        .overlay-background .close-button-bar .close-button-container .close-button .cross {
          display: inline-block;
          margin: 1rem;
          background-image: url("../img/yellow-cross.svg");
          width: 1.2rem;
          height: 1.2rem; }
  .overlay-background .overlay-content {
    height: 100%;
    background-color: #fff;
    overflow-y: auto; }
    .overlay-background .overlay-content .overlay-main {
      padding: 6.6rem 6rem 3rem; }
      .overlay-background .overlay-content .overlay-main h6 {
        font-size: .9rem;
        margin-bottom: 1rem; }
      .overlay-background .overlay-content .overlay-main h5.overlay-heading {
        font-size: 1rem;
        padding-bottom: .2rem;
        border-bottom: 2px solid #ffc72c;
        display: inline-block;
        margin-bottom: 1rem; }
      .overlay-background .overlay-content .overlay-main h2 {
        margin-bottom: 2rem; }
      .overlay-background .overlay-content .overlay-main p.lead {
        font-size: 1.2rem;
        line-height: 1.5;
        color: #1c2541;
        margin-bottom: 1.2rem; }
      .overlay-background .overlay-content .overlay-main p.body {
        font-size: .9rem;
        line-height: 1.78; }
  .overlay-background .overlay-footer {
    padding: 2rem 6rem 2.4rem;
    border-bottom: 1px solid #eae7de; }
    .overlay-background .overlay-footer:last-child {
      border-bottom: none; }
    .overlay-background .overlay-footer h6 {
      font-size: .6rem; }
    .overlay-background .overlay-footer h3 {
      border-bottom: 4px solid #ffc72c;
      display: inline-block;
      padding-bottom: .6rem; }
    .overlay-background .overlay-footer h4.display-4 {
      font-size: 1.4rem;
      line-height: 1.17;
      border-bottom: 2px solid #ffc72c;
      display: inline-block;
      font-weight: 600;
      padding-bottom: .2rem;
      margin-bottom: 1.4rem; }
    .overlay-background .overlay-footer a.skill {
      font-size: .7rem;
      line-height: 1;
      font-weight: 500;
      display: inline-block;
      border: 1px solid #eae7de;
      margin-right: .6rem;
      margin-bottom: .7rem;
      padding: .8rem 1.6rem;
      border-radius: 1.2rem; }
      .overlay-background .overlay-footer a.skill:hover {
        background-color: #1c2541;
        border: 1px solid #1c2541;
        color: #ffc72c; }

/*
.overlay {
  position: absolute; !* Sit on top of the page content *!
  display: none; !* Hidden by default *!
  width: 100%; !* Full width (cover the whole page) *!
  height: 100%; !* Full height (cover the whole page) *!
  left: 0;
  right: 0;
!*  top: 0;

  bottom: 0;*!
  background-color: red; //rgba(0,0,0,0.5); !* Black background with opacity *!
  z-index: 10; !* Specify a stack order in case you're using a different order for other elements *!
  cursor: pointer; !* Add a pointer on hover *!

}*/

/*# sourceMappingURL=main.css.map */
