footer {
  margin: 0;
  padding: 0;
}

.copyright{
  background-color: $mid-cream;
  color: $dark-cream;
  font-size: .6rem;
  padding: .6rem;
  margin: 0 -15px;
}

.social-media {

  font-size: 2rem;

  @include media-breakpoint-up(md){
    font-size: 1.4rem;
  }

}

footer nav ul.nav {

  display: block;
  font-size: 18px;

  @include media-breakpoint-up(md){
    display: flex;
  }

  li {

    padding-top: 7px;
    padding-bottom: 7px;


    a {
      display: inline-block;
      border-bottom: 2px solid transparent;
      @include transition();

      &:hover, &.active {
        border-bottom: 2px solid $dark-cream;
      }
    }

    @include media-breakpoint-up(md){

      padding-top: 0;
      padding-bottom: 0;

      a {
        font-size: .6rem;
      }

    }

  }



}

.sm-link {

  display: inline-block;

  @include media-breakpoint-up(md){
    line-height: 1em;
  }

  &:hover {
    color: $dark-blue;

    i{
      &.twitter {

        background-image: url("../img/twitter-over.svg");

      }

      &.linked-in {
        background-image: url("../img/linked-in-over.svg");

      }

      &.medium {
        background-image: url("../img/medium-over.svg");
      }

      &.newsletter {
        background-image: url("../img/envelope.svg");
      }
    }

  }

  i {
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    width: 1em;
    height: 1em;

    &.twitter {
      background-image: url("../img/twitter-over.svg");
      background-position-y: .2rem;

    }

    &.linked-in {
      background-image: url("../img/linked-in-over.svg");

    }

    &.medium {
      background-image: url("../img/medium-over.svg");

    }

    &.newsletter {
      background-image: url("../img/envelope-over.svg");
      background-position-y: .35rem;
    }

    @include media-breakpoint-up(md){
      float: left;
      display: inline;

      &.twitter {
        background-image: url("../img/twitter.svg");
        background-position-y: .2rem;

        &:hover {
          background-image: url("../img/twitter-over.svg");
        }
      }

      &.linked-in {
        background-image: url("../img/linked-in.svg");

        &:hover {
          background-image: url("../img/linked-in-over.svg");

        }
      }

      &.medium {
        background-image: url("../img/medium.svg");
        &:hover {
          background-image: url("../img/medium-over.svg");
        }
      }

      &.newsletter {
        background-image: url("../img/envelope.svg");
        background-position-y: .35rem;

        &:hover {
          background-image: url("../img/envelope-over.svg");
        }
      }
    }



  }

  > span {

    display: block;
    height: 1em;
    line-height: 1em;
    vertical-align: center;
    font-size: 1rem;

    @include media-breakpoint-up(md){

      display: inline-block;
      margin-left: .6rem;

    }
  }



}

.social-media {
  margin: 2rem -15px;
}

.cream-border {
  height: 1px;
  width: 100%;
  border-bottom: 1px solid $mid-cream;
}

.footer-menu {

  ul {

    list-style: none;
    font-size: .6rem;
    text-transform: uppercase;

    li {
      text-align: center;
      padding-left: 10px;
      padding-right: 10px;

      a {

        padding-bottom: 7px;

        &.selected {
          border-bottom: 1px solid $dark-cream;
        }
      }
    }
  }

}