
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>


#<IfModule mod_rewrite.c>
#RewriteEngine on
#RewriteCond %{HTTP_HOST} ^(www.)?strdirect.com$
#RewriteCond %{REQUEST_URI} !^/webDev/
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)$ /my_subdir/$1
#RewriteCond %{HTTP_HOST} ^(www.)?strdirect.com$
#RewriteRule ^(/)?$ webDev/index.php [L]
#</IfModule>

# END WordPress