@font-face {
  font-family: 'Apercu';
  src: url('../../fonts/Apercu/Apercu-Bold.eot');
  src: url('../../fonts/Apercu/Apercu-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Apercu/Apercu-Bold.woff2') format('woff2'),
  url('../../fonts/Apercu/Apercu-Bold.woff') format('woff'),
  url('../../fonts/Apercu/Apercu-Bold.ttf') format('truetype'),
  url('../../fonts/Apercu/Apercu-Bold.svg#Apercu-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}