include includes/globals
-
    var stories = [
    {
    id: "skyrocket",
    title: "Helping DHL Express<br>Skyrocket Their Sales",
    link: "#",
    image: "img/success-plane.jpg"
    },
    {
    id: 'satisfaction',
    title: 'Satisfaction Team Drives 20%<br>Increase in Customer Spend',
    link: '#',
    image: 'img/success-phone.jpg'
    },
    {
    id: 'global',
    title: 'Setting Global Standards<br>for Online Learning',
    link: '#',
    image: 'img/success-global.jpg'
    },
    {
    id: 'motorola',
    title: 'Motorola Onboarding<br>Programme Wins Gold',
    link: '#',
    image: 'img/success-motorola.jpg'
    },
    {
    id: 'behaviours',
    title: 'Global Operator Rings In<br>Improved Sales Behaviours',
    link: '#',
    image: 'img/success-red-lines.jpg'
    },
    {
    id: 'leader',
    title: 'Enabling DHL Global Forwarding<br>to Become Market Leader',
    link: '#',
    image: 'img/success-trucks.jpg'
    },
    {
    id: 'pipeline',
    title: '25 Million Euro Pipeline<br>Delivered in 4 Weeks',
    link: '#',
    image: 'img/success-dhl-vehicles.jpg'
    }
    ]

    currentPage = 'Success Stories'

doctype html
html(lang="en")
    include includes/head

    body.str
        include includes/header


        main

            section
                .container-fluid.bg-blue
                    .str-hero.jumbotron
                        h1.display-4='Success '
                            span.clr-bright-blue Stories

                        p.lead.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Proin posuere, erat ac volutpat pretium, nisi lectus fringilla nibh,
                            vitae pulvinar justo tellus id urna. Nunc eros arcu, rutrum a neque quis,
                             feugiat ultrices metus. Proin at nisi tristique, sodales nunc ut, blandit lorem.

            section
                .container-fluid.bg-blue
                    .row.text-center.wide-picture-grid
                        each story in stories
                            .col-6.str-grid-pic
                                .success-image-tile
                                    img.h-align(src=story.image)
                                    .photo-caption.text-left.p-4
                                        h5.display-5.clr-white!= story.title

                                        h6
                                            a(href=story.link) read success story


            include includes/trailer
            include includes/footer

    include includes/scripts
